@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #e0a80d;
  --greyDark: #7d8792;
  --headingColor: #2d2e2e;
  --white: #fff;
  --black: #000;
  --sliver: #bac8d3;
}
body {
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
a {
  color: var(--greyDark);
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: var(--primaryColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.container {
  max-width: 80%;
  margin: auto;
}
.container h2 {
  font-size: 45px;
}
.flexsb {
  display: flex;
  justify-content: space-between;
}
button {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  background-color: var(--primaryColor);
  color: var(--white);
  padding: 15px 50px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.fontSize {
  font-size: 20px;
}

/*---------header-------------*/
header {
  background-color: var(--headingColor);
  height: 10vh;
  line-height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header a {
  margin-left: 40px;
}
header .logo {
  margin-top: 20px;
}
.toggle {
  cursor: pointer;
  color: var(--white);
  display: none;
}
@media screen and (max-width: 768px) {
  header .nav {
    display: none;
  }
  header a {
    width: 100%;
    display: block;
    color: var(--white);
  }
  .toggle {
    display: block;
    font-size: 25px;
    background: none;
  }
  .hideMenu {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: var(--headingColor);
  }
}
/*---------header-------------*/
section {
  height: 90vh;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}

/*---------hero-------------*/
.hero {
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../public/images/home-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 90vh;
}
.heroContent {
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.hero h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--primaryColor);
}
.heading {
  font-size: 30px;
  color: var(--primaryColor);
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .Typewriter span {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .Typewriter span {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .Typewriter span {
    font-size: 30px;
  }
}
/*---------about-------------*/
.about .container {
  display: flex;
  align-items: center;
}
.about .heading {
  text-align: center;
}
.left img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.left,
.right {
  flex: 1 1 50%;
  padding: 20px;
}
.right p {
  padding: 5px 8px;
  font-size: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
@media (max-width: 1024px) {
  .right h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .right p {
    margin-bottom: 16px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .right h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .right p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .right h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .right p {
    margin-bottom: 4px;
    font-size: 8px;
  }
}

/*---------skills-------------*/
.skills .box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryBackground);
  padding: 35px;
  height: 100%;
  box-sizing: border-box;
}
.skills .box img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.skills h3 {
  margin-top: 20px;
}
.content .grid3 {
  grid-template-columns: repeat(3, 1fr);
  height: 50vh;
  place-items: center;
  text-align: center;
}
@media (max-width: 1024px) {
  .container h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .right p {
    margin-bottom: 16px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .container h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .right p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .container h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .right p {
    margin-bottom: 4px;
    font-size: 8px;
  }
}
/*---------counter-------------*/
.counter {
  margin-top: 80px;
  position: relative;
}
.hero.counter::after {
  background-image: url("../public/images/some-facts-bg.png");
  height: 50vh;
}
.counter h1 {
  margin: 0;
}
/*---------counter-------------*/
/*---------portfolio-------------*/
article {
  margin-top: 50px;
  margin-bottom: 80px;
}
article img {
  width: 100%;
  height: 100%;
}
article .box {
  position: relative;
  transition: 0.5s;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}
.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
article .box:hover .overlay::after,
article .box:hover .overlay {
  opacity: 1;
}
.catButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.catButton button {
  text-transform: capitalize;
  margin-right: 20px;
  font-size: 20px;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}
.overlay-content .title {
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}
.overlay-content .contributors,
.overlay-content .techStack {
  color: var(--black);
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}
.overlay-content .buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: 20px;
}
.overlay-content .buttons a {
  color: var(--black);
  text-align: center;
}
.overlay-content .buttons a svg {
  width: 32px;
  height: 32px;
}
/* 반응형 버튼 크기 */
@media (max-width: 1024px) {
  .catButton button {
    padding: 8px 15px;
    font-size: 14px;
  }
  .overlay-content .title {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .overlay-content .contributors {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .overlay-content .techStack {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .overlay-content .buttons a svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .catButton button {
    padding: 6px 12px;
    font-size: 12px;
  }
  .overlay-content .title {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .overlay-content .contributors {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .overlay-content .techStack {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .overlay-content .buttons a svg {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 480px) {
  .catButton button {
    padding: 4px 9px;
    font-size: 8px;
    margin-bottom: 2px;
  }
  .overlay-content .title {
    font-size: 10px;
    margin-bottom: 2px;
  }
  .overlay-content .contributors {
    font-size: 5px;
    margin-bottom: 2px;
  }
  .overlay-content .techStack {
    font-size: 5px;
    margin-bottom: 2px;
  }
  .overlay-content .buttons a svg {
    width: 10px;
    height: 10px;
  }
}
/*---------portfolio-------------*/
/*---------testimonials-------------*/
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.testimonials::after {
  background-image: url("../public/images/testimonials-bg.png");
}
.testimonials .box {
  max-width: 60%;
}
.testimonials i {
  background-color: var(--white);
  font-size: 20px;
  padding: 15px;
  margin: 30px 0;
  display: inline-block;
  color: var(--primaryColor);
}
.testimonials .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid var(--primaryColor);
}
.testimonials img {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  object-fit: cover;
}
label {
  color: var(--primaryColor);
  margin: 10px 0;
  display: inline-block;
}
/*---------testimonials-------------*/
